.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen__text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen__timeStamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreen__textUser {
  margin-left: auto;
  background-color: indianred;
  padding: 15px;
  border-radius: 20px;
  color: ivory;
}
