


.chatroom {
    box-sizing: border-box;
    width: 1050px;
    height: 1050px;
}





section#chatroom {
    border: 5px inset #6590ec;
    height: 500px;
    width:500px;
    overflow: auto;
    margin:auto;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}



#message {
    height:20px;
    width:400px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

#send_message {
    height:20px;
    width:200px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    
 
}




